<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="/img/logo.jpg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    {{>header}}
    
    <div class="card mx-auto text-center">
        <h1>Welcome to Weather Forecast</h1>
        <div class="card-body mt-2">
            <label for="place"><h5>Enter the Place</h5></label><br>
            <input type="text" name="place" id="text" placeholder="Enter..." required><br>
            <input type="button" value="Get Weather Forecast" class="btn btn-danger mt-4" id="submit">   
        </div>
        <div class="alert-danger card-body mx-auto" id="err" style="width: 250px; display:none;"></div>
        <img src="/img/loading.gif" style="height: 25vh; width:25vw; display:none" class="mx-auto" id='loading'>
        <h3 id="p1" class="card-body"></h3>
        
    <div>

    {{>footer}}
    
    

    <script src="./js/script.js"></script>
</body>
</html>