<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    </head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark  fixed-bottom justify-content-center">
  <a class="navbar-brand" href="#">Weather forecast &copy;</a>
</nav>
</body>
</html>
